@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

.text-center{
    text-align: center;
}

/* display */
.d-none{
    display: none;
}

/* margin */
.m-t-30{
    margin-top: 30px;
}

.m-b-10{
    margin-bottom: 10px;
}

/* remove scroll */
.no-scroll{
    overflow: hidden;
}

/* button */
.btn{
    display: inline-block;
    padding: 12px 32px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
    font-weight: 400;
    outline: none;
    margin: 0 5px;
}

.btn-primary{
    color: #000000;
    font-size: 22px;
    background-color: #FFD71B;
    border: 1px solid#FFD71B;
}

.btn-secondary{
    color: #eee;
    font-size: 22px;
    background-color: transparent;
    border: 1px solid #eee;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #FFD71B;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background:#111;
}


/* animation */
@keyframes from-left {
    0%{
        transform:translateX(-100px);
        opacity:0;
    }

    100%{
        transform:translateY(0);
        opacity:1;
    }
}

.container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.justify-space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

body{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
}



/* navbar start */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    transition: all 0.5s ease;
}
.header.on-scroll{
    background-color: #111;
}

.header .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1260px;
    padding: 0 25px;
    margin: 0 auto;
    height: 100px;
    z-index: 1100;
    transition: all 0.5s ease;
}

.header .nav.on-scroll{
    height: 80px;
    padding: 0 15px;
}

.header .nav .logo{
    color: #eee;
    font-family: 'roboto', sans-serif;
    font-size: 36px;
    font-weight: 500;
    z-index: 1010;
}

.header .nav .hamburger{
    z-index: 1100;
    cursor: pointer;
}

.header .nav .hamburger span{
    display: block;
    height: 5px;
    width: 50px;
    background-color: #eee;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
}

.header .nav .hamburger.active span:nth-child(1){
    transform: translateY(15px) rotate(-45deg);
}

.header .nav .hamburger.active span:nth-child(2){
    opacity: 0;
}

.header .nav .hamburger.active span:nth-child(3){
    transform: translateY(-15px) rotate(45deg);
}

.header .nav .menu{
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 100%;
    padding: 150px 30px 100px;
    text-align: center;
    z-index: 1000;
    animation: from-left .5s ease-in;
    color: #eee;
}

.header .nav .menu li a{
    display: inline-block;
    color: #eee;
    font-size: 46px;
    font-weight: 400;
    margin: 20px;
    letter-spacing: 1px;
}

/* navbar end */


/* hero section start */

.hero{
    height: 100vh;
    background-image: url(../img/banner/background-1.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.hero .hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
}

.hero .hero-text h1{
    color: #eee;
    font-size: 92px;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero .hero-text p{
    color: #e6e6e6;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* hero section end */

/* our story section start */

.our-story{
    padding: 120px 0;
    background-color: #111;
}

.our-story .col{
    width: 50%;
    flex: 0 0 50%;
    padding: 0 15px;
}

.our-story .col h3{
    color: #FFD71B;
    font-size: 22px;
    font-weight: 400;
}

.our-story .col h2{
    color: #eee;
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 15px;
}

.our-story .col p{
    color: #e6e6e6;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.75;
}

.our-story .col img{
    max-width: 390px;
}

/* our story section end */

/* feature one section start*/

.feature-one{
    padding: 130px 0;
    background-image: url(../img/banner/background-2.jpg);
    background-color: #111;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 100;
}

.feature-one .col{
    max-width: 316px;
    flex: 0 0 316px;
    padding: 20px 10px;
}
.feature-one .col h2{
    color: #eee;
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 20px;
}
.feature-one .col p{
    color: #e6e6e6;
    font-family: 'roboro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 30px;
}

/* feature one section end*/

/* our menu section start */
.our-menu{
    padding: 130px 0;
    background-color: #111;
}

.our-menu .col{
    flex: 0 0 50%;
    width: 50%;
    padding: 0 15px;
}
.our-menu .col h3{
    color: #FFD71B;
    font-size: 22px;
    font-weight: 400;
}

.our-menu .col h2{
    color: #eee;
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 15px;
}

.our-menu .col p{
    color: #e6e6e6;
    font-size: 18px;
    font-weight: 400;
    font-family: 'roboto', sans-serif;
    line-height: 1.75;
}

/* our menu section end */


/* feature two section start */

.feature-two{
    padding: 130px 0;
    background-color: #111;
}

.feature-two .section-title{
    margin-bottom: 80px;
}

.feature-two .section-title h3{
    color: #FFD71B;
    font-size: 22px;
    font-weight: 400;
}

.feature-two .section-title h2{
    color: #eee;
    font-size: 46px;
    font-weight: 400;
}

/* .feature-two .row{
    margin-left: -15px;
    margin-right: -15px;
} */


.feature-two .col{
    font-family: 'roboto', sans-serif;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
}

.feature-two .feature-two-item{
    padding: 20px;
}

.feature-two .feature-two-item .icon{
    height: 69px;
    width: 69px;
    background-color: #FFD71B;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 30px;
}


.feature-two .feature-two-item .icon img{
    height: 30px;
    width: 30px;
}

.feature-two .feature-two-item h3{
    color: #eee;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.feature-two .feature-two-item p{
    color: #e6e6e6;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}

/* feature two section end */

/* testimonial section start */

.testimonial{
    padding: 130px 0;
    background-image: url(../img/banner/background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.testimonial .col{
    /* flex: 0 0 33.333333%;
    max-width: 33.333333%; */
    flex: 0 0 380px;
    max-width: 380px;
    padding: 0 15px;
}


.testimonial .section-title{
    margin-bottom: 80px;
}

.testimonial .section-title h3{
    color: #FFD71B;
    font-size: 22px;
    font-weight: 400;
}

.testimonial .section-title h2{
    color: #eee;
    font-size: 46px;
    font-weight: 400;
}

.testimonial .testimonial-item{
    font-family: 'roboto', sans-serif;
    padding: 40px 20px 56px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.testimonial .testimonial-item img{
    max-width: 22px;
    margin-bottom: 30px;
}

.testimonial .testimonial-item p{
    color: #e6e6e6;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 1.75;
    margin-bottom: 22px;
}

.testimonial .testimonial-item h3{
    color: #eee;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.testimonial .testimonial-item h6{
    color: #eee;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

/* testimonial section end */


/* our shots section start */
.our-shots{
    padding: 130px 0;
    background-color: #111;
}


.our-shots .section-title{
    margin-bottom: 80px;
}

.our-shots .section-title h3{
    color: #FFD71B;
    font-size: 22px;
    font-weight: 400;
}

.our-shots .section-title h2{
    color: #eee;
    font-size: 46px;
    font-weight: 400;
}

/* our shots section end */


/* contact us section start */
.contact-us{
    padding: 130px 0;
    background-image: url(../img/banner/background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.contact-us .section-title{
    margin-bottom: 80px;
}

.contact-us .section-title h3{
    color: #FFD71B;
    font-size: 22px;
    font-weight: 400;
}

.contact-us .section-title h2{
    color: #eee;
    font-size: 46px;
    font-weight: 400;
}

.contact-us .col{
    flex: 0 0 285px;
    max-width: 285px;
    padding: 0 15px;
}

.contact-us .contact-us-item{
    padding: 40px 20px;
}

.contact-us .contact-us-item .icon{
    height: 70px;
    width: 70px;
    background-color: #111;
    padding: 20px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.contact-us .contact-us-item .icon img{
    height: 30px;
    width: 30px;
}

.contact-us .contact-us-item h3{
    color: #eee;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
}

.contact-us .contact-us-item p{
    color: #e6e6e6;
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 1.75;
}

/* contact us section end */


/* footer start */

.footer{
    background-color: #111;
    padding: 70px 0 10px;
}

.footer .section-title{
    margin-bottom: 50px;
}
.footer .section-title h2{
    color: #FFD71B;
    font-size: 46px;
    font-weight: 400;
}

.footer .social-icon{
    display: flex;
    margin: 0 auto 60px;
    justify-content: center;
}
.footer .social-icon .social-icon-item{
    margin: 0 40px;
}

.footer .social-icon .social-icon-item img{
    width: 55px;
}

.footer .footer-menu{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.footer .footer-menu li{
    margin-left: 20px;
    margin-right: 20px;
}

.footer .footer-menu li .nav-link{
    display: inline-block;
    color: #eee;
    font-size: 18px;
    font-weight: 400;
}

.footer .credits p{
    color: #eee;
    font-size: 16px;
    font-weight: 400;
}

/* footer end */





/* 
container  laptop / large tablet width 1260px
container small tablet 992px
container large mobile 700px
container mobile 540px
*/

/* large tablet or small laptop */
@media (max-width: 1200px) {
    .container{
        max-width: 960px;
    }

    /* margin */
    .m-laptop-b-40{
        margin-bottom: 40px;
    }

    
    .contact-us .col{
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 15px;
    }
    
}

/* tablet */
@media (max-width: 992px) {
    
    /* margin */
    .m-tablet-b-40{
        margin-bottom: 40px;
    }

    .container{
        max-width: 720px;
    }

    .feature-two .col{
        flex: 0 0 50%;
        max-width: 50%;
    }

}


/* large phone */
@media (max-width: 700px) {

    /* margin  */
    .m-lm-t-20{
        margin-top: 20px;
    }
    .m-lm-b-35{
        margin-bottom: 35px;
    }
    .container{
        max-width: 540px;
    }

    .our-story .col{
        width: 100%;
        flex: 0 0 100%;
        padding: 0 15px;
    }

    .our-story .col img{
        max-width: 100%;
        margin-top: 20px;
    }

    .our-menu .col{
        width: 100%;
        flex: 0 0 100%;
    }

    .feature-two .col{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
    }

   
}

/* small phone */
@media (max-width: 576px) {
    .container{
        width: 100%;
    }


    /* block */

    .sm-d-block{
        display: block;
    }

    /* margin */
    
    .m-sm-b-20{
        margin-bottom: 20px;
    }

    .hero .hero-text{
        width: 100%;
    }

    .hero .hero-text h1{
        font-size: 60px;
    }

    .testimonial .col {
        flex: 0 0 95%;
        max-width: 95%;
        padding: 0 15px;
    }

    

    .contact-us .col{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
    }
}

